{% extends 'app/base.html' %}
{% block content %}

<h1>Register</h1>

<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <label for="">{{form.username.label}}</label>
        {{form.usrname}}

        <label for="">{{form.password1.label}}</label>
        {{form.password1}}

        <label for="">{{form.password2.label}}</label>
        {{form.password2}}
        <input class="button" type="submit" value="Register" style="margin-top: 10px;">
    </form>
    
    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
    
</div>

{% endblock content %}